<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.examp.springmvc.user.infrastructure.mapper.UserCommandMapper">

    <insert id="insert" parameterType="com.examp.springmvc.user.infrastructure.persistence.UserDbEntity">
        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT APP_USER_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO APP_USERS (
            ID,
            USERNAME,
            FULL_NAME,
            EMAIL,
            PHONE,
            STATUS,
            PASSWORD,
            ROLE,
            CREATED_AT,
            UPDATED_AT
        ) VALUES (
            #{id, jdbcType=NUMERIC},
            #{username, jdbcType=VARCHAR},
            #{fullName, jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR},
            #{phone, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{role, jdbcType=VARCHAR},
            SYSTIMESTAMP,
            SYSTIMESTAMP
        )
    </insert>

    <update id="update" parameterType="com.examp.springmvc.user.infrastructure.persistence.UserDbEntity">
        UPDATE APP_USERS
        SET
            USERNAME = #{username, jdbcType=VARCHAR},
            FULL_NAME = #{fullName, jdbcType=VARCHAR},
            EMAIL = #{email, jdbcType=VARCHAR},
            PHONE = #{phone, jdbcType=VARCHAR},
            STATUS = #{status, jdbcType=VARCHAR},
            PASSWORD = #{password, jdbcType=VARCHAR},
            ROLE = #{role, jdbcType=VARCHAR},
            UPDATED_AT = SYSTIMESTAMP
        WHERE ID = #{id, jdbcType=NUMERIC}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM APP_USERS
        WHERE ID = #{id, jdbcType=NUMERIC}
    </delete>

</mapper>
